<!doctype html>
<html class="no-js">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6479775-18"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-6479775-18');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Bath Ruby Conference - 11th March 2016</title>

    <meta name="description" content="<%= current_page.data.description %>">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Social Meta Tags -->
    <meta property="og:title" content="Bath Ruby Conference - 11th March 2016" />
    <meta property="og:site_name" content="Bath Ruby" />
    <meta property="og:url" content="https://2016.bathruby.uk/" />
    <meta property="og:description" content="<%= current_page.data.description %>" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:image" content="<%= "https://2016.bathruby.uk/" + image_path('bathruby-social-banner.png') %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BathRuby">
    <meta name="twitter:url" content="https://2016.bathruby.uk/">
    <meta name="twitter:creator" content="@BathRuby">
    <meta name="twitter:title" content="Bath Ruby Conference - 11th March 2016">
    <meta name="twitter:description" content="<%= current_page.data.description %>">
    <meta name="twitter:image:src" content="<%= "https://2016.bathruby.uk/" + image_path('bathruby-social-banner.png') %>">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag "application" %>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'modenizer' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= page_classes.to_s.gsub("sponsor", "supporter") %>">
    <div style="position: fixed; top: 0; left: 0; width: 100%; background-color: #ff6; color: #000; font-size: 16px; font-family: &quot;Helvetica Neue&quot;, Ariel, Helvetica; padding: 0.5em 0; margin: 0; text-align: left; overflow: hidden; clear: both; z-index: 9999" id="old-site-notice">
      <span style="display: inline-block; color: #000; width: 90%; padding-left: 1em; text-align: center">
        <strong>Hello!</strong> This is the website for a past conference. Click <a href="http://latest.bathruby.uk" style="display: inline; color: #69f; font-weight: bold; text-decoration: none; border: none; background: transparent">here</a> to visit the latest one.
      </span>
      <a style="display: inline-block; position: absolute; right: 1em; color: #999; font-weight: bold; text-decoration: none; border: none; background: transparent" href="#" title="dismiss" id="hide-notice">×</a>
    </div>

    <script type="text/javascript">
      $('#hide-notice').click(function() {
        $('#old-site-notice').fadeOut();
      })
    </script>

    <div class="page">

      <header class="site-header">
        <div class="wrapper">
          <%= link_to 'Bath Ruby Conference 2016', '/', :class => "logo" %>
          <nav class="main-nav">
            <ul>
              <li class="nav-home"><%= link_to 'Home', '/' %></li>
              <li class="nav-schedule"><%= link_to 'Schedule', '/schedule/index.html' %></li>
              <li class="nav-information"><%= link_to 'Information', '/information/index.html' %></li>
              <li class="nav-sponsors"><%= link_to 'Sponsors', '/sponsors/index.html' %></li>
              <li class="nav-tickets"><%= link_to 'Tickets', '#tickets' %></li>
            </ul>
          </nav>
          <span class="menu">Menu</span>
        </div>
      </header>

      <%= yield %>

      <footer class="site-footer">
        <div class="wrapper">
          <p class="footer-heading">Bath Ruby proudly supports</p>
          <%= link_to image_tag('save-the-children.png', "width" => "304", :height => "62",  :alt => "Save the Children"), 'http://www.savethechildren.org/', :class => "charity-logo" %>
          <p class="charity-info">Registered Charity No. 213890 (England & Wales) and SC039570 (Scotland)</p>
          <%= link_to '@bathruby', 'https://twitter.com/bathruby', :class => "twitter-link" %>
          <p class="copy">Copyright &copy; Rockfield Systems 2016 All Rights Reserved</p>
        </div>
      </footer>

    </div>

  </body>

</html>
