<section class="block hero">
  <div class="wrapper">
    <h1>A one day, single track conference</h1>

    <h2><span>11 March 2016</span> The Assembly Rooms, Bath, UK</h2>

    <p>Situated in the beautiful British city of Bath, organised by <%= link_to "Simon Starr", 'https://twitter.com/sstarr' %> with help from <%= link_to "Andrew Nesbitt", 'https://twitter.com/teabass' %> and <%= link_to "Jordan Elver", 'https://twitter.com/jordelver' %>. It's aimed at Rubyists of all skill levels and we're fortunate enough to be joined by some of the Ruby community's favourite speakers.</p>

    <p>Thanks to the support of our wonderful <%= link_to "sponsors", '/sponsors.html' %>, and because we're not putting the conference on to make a profit, we can afford to keep ticket prices down and donate 10% of sales to <%= link_to "Save the Children", 'http://www.savethechildren.org/' %>, the world's leading independent organisation for children.</p>
  </div>
</section>