<section class="block speakers" id="speakers">

  <div class="wrapper">
    <h2>Featuring...</h2>
  </div>

  <div class="wrapper speakers scrollme">
    <ul class="speaker-list">
      <li>
        <%= image_tag 'http://www.fillmurray.com/g/300/300', :class=> "speaker-image" %>
        <h3>Linda Liukas</h3>
        <%= link_to "@lindaliukas", 'http://twitter.com/lindaliukas', :class => "twitter" %>
        <p>Co-founder of <a href="#">Rails Girls</a>, <a href="#">author</a> and <a href="#">Ruby Hero</a></p>
      </li>
      <li>
        <%= image_tag 'http://www.fillmurray.com/g/300/300', :class=> "speaker-image" %>
        <h3>Linda Liukas</h3>
        <%= link_to "@lindaliukas", 'http://twitter.com/lindaliukas', :class => "twitter" %>
        <p>Co-founder of <a href="#">Rails Girls</a>, <a href="#">author</a> and <a href="#">Ruby Hero</a></p>
      </li>
      <li>
        <%= image_tag 'http://www.fillmurray.com/g/300/300', :class=> "speaker-image" %>
        <h3>Linda Liukas</h3>
        <%= link_to "@lindaliukas", 'http://twitter.com/lindaliukas', :class => "twitter" %>
        <p>Co-founder of <a href="#">Rails Girls</a>, <a href="#">author</a> and <a href="#">Ruby Hero</a></p>
      </li>
      <li>
        <%= image_tag 'http://www.fillmurray.com/g/300/300', :class=> "speaker-image" %>
        <h3>Linda Liukas</h3>
        <%= link_to "@lindaliukas", 'http://twitter.com/lindaliukas', :class => "twitter" %>
        <p>Co-founder of <a href="#">Rails Girls</a>, <a href="#">author</a> and <a href="#">Ruby Hero</a></p>
      </li>
      <li>
        <%= image_tag 'http://www.fillmurray.com/g/300/300', :class=> "speaker-image" %>
        <h3>Linda Liukas</h3>
        <%= link_to "@lindaliukas", 'http://twitter.com/lindaliukas', :class => "twitter" %>
        <p>Co-founder of <a href="#">Rails Girls</a>, <a href="#">author</a> and <a href="#">Ruby Hero</a></p>
      </li>
      <li>
        <%= image_tag 'http://www.fillmurray.com/g/300/300', :class=> "speaker-image" %>
        <h3>Linda Liukas</h3>
        <%= link_to "@lindaliukas", 'http://twitter.com/lindaliukas', :class => "twitter" %>
        <p>Co-founder of <a href="#">Rails Girls</a>, <a href="#">author</a> and <a href="#">Ruby Hero</a></p>
      </li>
    </ul>
  </div>

  <div class="wrapper">
    <div class="cta">
      <%= link_to 'Get your Ticket', 'https://ti.to/bath-ruby/2016', :class => "btn outline" %>
      <p>First release available now</p>
    </div>
  </div>



  
</section>