---
page_classes: "sponsors"
description: "Situated in the beautiful British city of Bath, Bath Ruby is a conference for Rubyists of all skill levels."
---

<div class="main-content">

  <div class="wrapper sponsors">

    <h1>Sponsors</h1>

    <h2>Ruby</h2>

    <div class="media">
      <%= link_to image_tag("sponsors/sky.jpg", width: 300, height: 150, alt: "Sky"), "http://www.workforsky.com/find-job/technology-and-product-development/?utm_source=bath_ruby&utm_medium=banner&utm_campaign=bath_ruby_conference", :class => "sponsor-logo" %>
      <p><strong>Sky</strong> Sky@LeedsDock are building a team that will be able to take on any challenge; we’re stepping up our commitment to digital skills and innovation with the creation of a brand new, world-class technology hub in Leeds. Our new tech hub will see the creation of up to 400 highly-skilled jobs and is already partially open. Its focus is on designing and developing our next generation of websites and apps across the product offering. Teams will also work on some of our most popular digital and online platforms within Sky Sports, Sky News, Online Service and Digital Trading.
      <br />
      Based at Allied London’s Leeds Dock, in the heart of the city, the hub is already a dynamic and creative environment for our tech teams, expanding their skills in order to continue to grow our technology for customers.</p>
    </div>

    <h2>Gold</h2>

    <div class="media">
      <%= link_to image_tag("sponsors/bytemark.png", width: 300, height: 150, alt: "Bytemark Hosting"), "https://www.bytemark.co.uk/?utm_source=bath_ruby&utm_medium=banner&utm_campaign=bath_ruby_conference", :class => "sponsor-logo" %>
      <p><strong>Bytemark Hosting</strong> Bytemark is the UK's smartest hosting company for builders and self-starters, established in 2002. It has its own data centre in York, another in Manchester, and its own cloud hosting platform called BigV (70,000 lines of Ruby). BigV lets developers scale to servers of up to 180GB of RAM, and to mix in dedicated servers for the most flexible hosting network. Bytemark can also take on active management of applications and clients, including all the fiddly stuff like backups, health monitoring and 24-hour response. Bytemark love Ruby, and are always interested in meeting programmers looking for a new challenge.</p>
    </div>

    <h2>Silver</h2>

    <div class="media">
      <%= link_to image_tag("sponsors/pusher.png", width: 300, height: 150, alt: "Pusher"), "https://pusher.com/?utm_source=bath_ruby&utm_medium=banner&utm_campaign=bath_ruby_conference", :class => "sponsor-logo" %>
      <p><strong>Pusher</strong> Create interactive, realtime apps in minutes with your technology stack of choice by using Pusher's hosted API. Pusher is perfect for realtime notifications, activity streams, data visualizations, collaborative apps and much more. It’s secure, it scales from one to millions of connections instantly and you won’t need to set up or maintain your own realtime infrastructure.</p>
    </div>

    <div class="media">
      <%= link_to image_tag("sponsors/alliants.png", width: 300, height: 150, alt: "Alliants"), "http://www.alliants.com/?utm_source=bath_ruby&utm_medium=banner&utm_campaign=bath_ruby_conference", :class => "sponsor-logo" %>
      <p><strong>Alliants</strong> 6 years ago we were one developer, and now we are 38 with offices in Southampton, London and Toronto. We get excited by solving problems (sometimes with code / sometimes not). Our approach has meant we’ve been able to worked with start ups and global companies across a range of industries. We are excited to find our next challenge and the people who can help us solve them. Whilst a lot has changed since the beginning somethings have remained constant, Great Coffee, Great Code and our love of Bacon and Beer.</p>
    </div>

    <div class="media">
      <%= link_to image_tag("sponsors/cookieshq.png", width: 300, height: 150, alt: "CookiesHQ"), "http://cookieshq.co.uk/?utm_source=bath_ruby&utm_medium=banner&utm_campaign=bath_ruby_conference", :class => "sponsor-logo" %>
      <p><strong>CookiesHQ</strong> CookiesHQ is a small but perfectly formed Ruby on Rails development agency based in Bristol. Our team of problem solvers create, maintain and improve web applications for startups, agencies and tech teams in the South West and beyond. We are experienced, honest and pragmatic, always aiming to find, not only the right solution, but the solution that will make a difference to your project and allow you to take your business to the next level. Our lovely clients have praised our technical knowledge, strong communication process and overall efficiency… and we sometimes bake cookies for them!</p>
    </div>

    <div class="media">
      <%= link_to image_tag("sponsors/bugsnag.png", width: 300, height: 150, alt: "Bugsnag"), "http://bugsnag.com/?utm_source=conference_website&utm_medium=logo&utm_campaign=bathruby2016", :class => "sponsor-logo" %>
      <p><strong>Bugsnag</strong> Bugsnag gives Ruby developers the tools and workflow they need to spend more time shipping and less time fixing. We help you take a proactive approach to software quality, translating exceptions and errors into action. With Bugsnag, Ruby developers are free to innovate and build applications that can evolve with the pace of modern business.</p>
    </div>

    <h2>Bronze</h2>

    <div class="media">
      <%= link_to image_tag("sponsors/rawnet.png", width: 300, height: 150, alt: "Rawnet"), "http://www.rawnet.com/?utm_source=bath_ruby&utm_medium=banner&utm_campaign=bath_ruby_conference", :class => "sponsor-logo" %>
      <p><strong>Rawnet</strong> Voted Most Respected Agency in the UK by our peers, Rawnet specialise in motivational &amp; behavioural led digital engagement. We help companies innovative and stay ahead of the game through beautifully designed and coded applications. Born out of a successful Internet business, the agency works on both digital products and engagement campaigns, taking every project on with commercials and results at the heart. We are a 40 strong agency, we never outsource and have a 100% client retention rate. We’ve also been voted Number 1 Elite Digital Agency by The Drum and have collected over 20 awards for our fresh approach to digital in the past 2 years.</p>
    </div>

    <h2>Become a Sponsor</h2>
    <p class="download">Download our <%= link_to "sponsorship prospectus" , "https://dl.dropboxusercontent.com/u/599955/Bath%20Ruby%20Sponsorship%20Prospectus%202016.pdf" %>.</p>

  </div>
  
</div>

<%= partial "tickets" %>